* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: "Lato", sans-serif;
  font-size: 64.5%;
  font-weight: bold;
}

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #eee;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  z-index: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.loading-bar i {
  font-size: 6em;
  background: #ec008c; /* fallback for old browsers */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc6767),
    to(#ec008c)
  );
  background: -o-linear-gradient(left, #fc6767, #ec008c);
  background: linear-gradient(to right, #fc6767, #ec008c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: rotating 1s infinite linear;
  animation: rotating 1s infinite linear;
}

@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes rotating {
  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

.code-title {
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  background: #ec008c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc6767),
    to(#ec008c)
  );
  background: -o-linear-gradient(left, #fc6767, #ec008c);
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2em;
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.search-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.search-text {
  padding: 1rem 1.5rem;
  background-color: #eee;
  outline: none;
  border: none;
  width: 70%;
  -webkit-transition: width 0.3s;
  -o-transition: width 0.3s;
  transition: width 0.3s;
  border-radius: 2rem;
  font-size: 1.6em;
  margin-left: 3rem;
}

.search-icon {
  -webkit-transform: translateX(-3rem);
  -ms-transform: translateX(-3rem);
  transform: translateX(-3rem);
}

.search-icon i {
  font-size: 3em;
  color: #636e72;
}

.search-text:focus,
.search-text:active {
  width: 80%;
}

.main {
  padding: 1rem;
  padding: 1rem;
}

.main-deactive {
  display: none;
}

.country {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
}

.country__item {
  background-color: #dadada;
  border-radius: 5px;
  overflow: hidden;
  padding-bottom: 1rem;
}

.country__name {
  font-size: 3em;
  text-align: center;
  margin-bottom: 2rem;
  letter-spacing: 4px;
  background: #fd746c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ff9068),
    to(#fd746c)
  );
  background: -o-linear-gradient(left, #ff9068, #fd746c);
  background: linear-gradient(
    to right,
    #ff9068,
    #fd746c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fafafa;
  padding: 1rem 0;
}

.country__item__data {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1px 1fr 1px 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1px;
}

.country__item__data__item {
  text-align: center;
  line-height: 2rem;
}

.country__item__data__item:not(:last-of-type) {
  border-right: 2px solid #fd746c;
}

.country__text-1 {
  font-size: 1.5em;
  color: #212121;
}

.section-country-wise {
  padding: 1rem;
  padding-bottom: 2rem;
}

.section-country-wise--deactive {
  display: none;
}

.code-title--sec {
  text-align: center;
  padding: 2rem 1rem;
  text-transform: uppercase;
  background: #ec008c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc6767),
    to(#ec008c)
  );
  background: -o-linear-gradient(left, #fc6767, #ec008c);
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  background-color: rebeccapurple;
  line-height: 3rem;
  margin-top: 2rem;
}

.code-title--sec--1 {
  font-size: 1.2em;
  letter-spacing: 1rem;
  display: block;
  word-wrap: break-word;
}

.code-title--sec--2 {
  display: block;
  font-size: 0.6em;
  letter-spacing: 5px;
}

.code-title--sec--2--copyright {
  letter-spacing: 2px;
}

.previou-btn {
  position: fixed;
  left: 1rem;
  top: 1rem;
}

.previou-btn i {
  font-size: 4em;
  background: #ec008c; /* fallback for old browsers */ /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#fc6767),
    to(#ec008c)
  );
  background: -o-linear-gradient(left, #fc6767, #ec008c);
  background: linear-gradient(
    to right,
    #fc6767,
    #ec008c
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.specfic-List {
  background-color: #eee;
  border-radius: 4px;
  overflow: hidden;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  margin-top: 3rem;
}

.specfic-List__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.1fr (minmax(3rem, 1fr)) [3];
  grid-template-columns: 1.1fr repeat(3, minmax(3rem, 1fr));
  font-size: 1em;
  text-transform: uppercase;
  color: #212121;
}

.specfic-List__grid:nth-of-type(even) {
  background-color: #ecf0f1;
}

.specfic-List__grid:nth-of-type(odd) {
  background: #fafafa;
}

.specfic-List__grid:nth-of-type(1) {
  background: #6190e8; /* fallback for old browsers */
  font-weight: bolder;
  color: #fafafa;
  word-wrap: break-word;
}

.specfic-List__item {
  padding: 1rem 0.5rem;
}

.specfic-List__item:not(:last-child) {
  border-right: 1px solid #8a8a8a;
}

.country__item--innerpage {
  background-color: #fafafa;
}

.country__name--full {
  display: none;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
